body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #181621;*/
  background-color: #1C212B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  /*--main-bg-color: #010614;*/
  --main-bg-color: rgba(10,9,13,0.8);
  --primary-bg-color: #181621;
  --secondary-bg-color: #2c303a;
  --primary-text-color: #f2f2f4;
  --secondary-bg2-color: rgba(54, 57, 55, 0.54);
  --secondary-text-color: #afafc7;
  --accent-green-color: #10EA18;
  --button-bg-color: #444857;
  --shadow-color: -2px -2px 10px 15px rgba(44,48,58,0.7);
  --shadow-color: -2px -2px 10px 15px rgba(16, 234, 24, 0.2);
  --shadow-color: -2px -2px 10px 15px rgba(3, 17, 95, 0.5);

  --accent-blue-color: #03115f;
  --accent-violet-color: rgba(100,21,180,1);
  --accent-violet-gradient: radial-gradient(circle, rgba(93,42,164,1) 0%, rgba(34,23,52,0.8) 150%);
  --accent-violet2-gradient: radial-gradient(circle, rgba(100,21,180,1) 0%, rgba(56,13,99,0.8) 100%);
  --accent-green-gradient: radial-gradient(circle, var(--mint-green) 0%, var(--green) 110%);
  --accent-green2-gradient: radial-gradient(ellipse, rgba(17,229,179,1) 0%, rgba(9,107,84,1) 100%);
  --accent-blue-gradient: radial-gradient(circle, var(--blue) 0%, var(--violet) 110%);
  --nude-gradient: radial-gradient(circle, var(--nude) 0%, var(--nude-dark) 110%);

/*  colors green palette*/
  --dark-green: #0D2027;
  --black-navy: #0F212B;
  --shadow-green: #1D3533;
  --light-green: #4C8754;
  --grey-green: #5A7D65;

  /*  colors blue-green palette*/
  --black-navy: #141823;
  /*--mint-green2: #12D599;*/
  --mint-green: #14D583;
  --green: #12985F;
  --bg-dark: #1C212B;
  /*--blue: #3C4392;*/
  --blue: #4c59ec;
  --violet: #4A269A;
  --link-color: #3c99f5;
  /*--icon-color: #4c59ec;*/


/*  */
  --nude: #FDD1BD;
  --nude-medium: #CC7E5B;
  --nude-medium2: #AF542F;
  --nude-medium3: #AB502C;
  --nude-dark: #753A21;
}

/*rgba(60, 67, 146, 1)*/
/*rgba(74, 38, 154, 1)*/
/*rgba(18, 152, 95, 1)*/

.btn {
  --r:40px; /* radius */
  --b:2px; /* border width */

  /*background: var(--nude-gradient);*/
  /*-webkit-background-clip: text;*/
  /*background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
  /*color: transparent;*/

  /*border-radius: var(--r);*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font: 1.5rem 'Oswald', Arial, sans-serif;*/
  /*height: 80px;*/
  /*margin: 0 auto;*/
  /*position: relative;*/
  /*z-index:0;*/
  /*width: 200px;*/
  /*padding: 15px;*/
  /*font-weight: bold;*/
  /*font-size: 50px;*/
  /*text-decoration: none;*/
}
/* check lined question for the detail of the below code */
.btn::before {
  /*content:"";*/
  /*position:absolute;*/
  /*z-index:-1;*/
  /*inset: 0;*/
  /*border: var(--b) solid transparent;*/
  /*border-radius: var(--r);*/
  /*background: inherit;*/
  /*background-origin: border-box;*/
  /*background-clip: border-box;*/
  /*-webkit-mask:*/
  /*        linear-gradient(#fff 0 0) padding-box,*/
  /*        linear-gradient(#fff 0 0);*/
  /*-webkit-mask-composite: xor;*/
  mask-composite: exclude;
  /*-webkit-mask-repeat: no-repeat;*/
}
/**/
/*.btn:hover {*/
/*  color: var(--black-navy);*/
/*  -webkit-text-fill-color: var(--black-navy);*/
/*  -webkit-background-clip: border-box;*/
/*  background-clip: border-box;*/
/*}*/

/*.btn:hover::before {*/
/*  -webkit-mask:none;*/
/*}*/





